<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserInfoMapper">
	
	<!--表名 -->
	<sql id="tableName">
		tb_member
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
	    TM_ID,
		TM_NAME,	
		TM_TYPE,	
		TM_LEVEL_ID ,	
		TM_NICKNAME,	
		TM_USERNAME,	
		TM_ADDRESS,	
		TM_MOBILE,	
		TM_ADD_DATE,	
		TM_SCORE,	
		TM_STATUS,	
		TM_YAOQING,	
		TM_YONGJIN,	
		TM_IS_YONGJIN,	
		TM_SIGN_CONTINUITY_COUNT,	
		TM_SIGN_LAST_DATE,	
		TM_SIGN_ALL_COUNT,	
		TM_IS_SET
		
	</sql>
	
	
		<sql id="Fields">
		a.TM_ID,
		TM_NAME,	
		TM_TYPE,	
		b.TML_LEVEL as TM_LEVEL_ID,	
		TM_NICKNAME,	
		TM_USERNAME,	
		TM_ADDRESS,	
		TM_MOBILE,	
		TM_ADD_DATE,	
		TM_SCORE,
		TM_ID_CARD,	
		TM_SFZZMZ_FILE,	
		TM_SFZFMZ_FILE,	
		TM_STATUS,	
		TM_YAOQING,	
		TM_YONGJIN,	
		TM_IS_YONGJIN,	
		TM_SIGN_CONTINUITY_COUNT,	
		TM_SIGN_LAST_DATE,	
		TM_SIGN_ALL_COUNT,	
		TM_IS_SET
	
	</sql>
	
		<sql id="Field1s">
		a.TM_ID,
		TM_NAME,	
		TM_TYPE,
		a.TM_LEVEL_ID,	
		b.TML_LEVEL AS TML_LEVEL,	
		TM_NICKNAME,	
		TM_USERNAME,	
		TM_ADDRESS,	
		TM_MOBILE,	
		TM_ADD_DATE,	
		TM_SCORE,	
		TM_STATUS,	
		TM_YAOQING,	
		TM_YONGJIN,	
		TM_TOTAL_YONGJIN,	
		TM_IS_YONGJIN,	
		TM_IS_SET,
		d.tmp_total_number as TMP_TOTAL_NUMBER,
		d.tmp_direct_number as TMP_DIRECT_NUMBER,
		d.tmp_self_number as TMP_SELF_NUMBER,
		d.tmp_small_number as TMP_SMALL_NUMBER,
		d.tmp_recommend_number as TMP_RECOMMEND_NUMBER,
		d.tmp_total_recommend_number as TMP_TOTAL_RECOMMEND_NUMBER
		
	</sql>
	
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TM_NAME},	
		#{TM_TYPE},	
		#{TM_LEVEL_ID},	
		#{TM_NICKNAME},	
		#{TM_USERNAME},	
		#{TM_ADDRESS},	
		#{TM_MOBILE},	
		#{TM_ADD_DATE},	
		#{TM_SCORE},	
		#{TM_STATUS},	
		#{TM_YAOQING},	
		#{TM_YONGJIN},	
		#{TM_IS_YONGJIN},	
		#{TM_SIGN_CONTINUITY_COUNT},	
		#{TM_SIGN_LAST_DATE},	
		#{TM_SIGN_ALL_COUNT},	
		#{TM_IS_SET},	
		#{USERINFO_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			USERINFO_ID = #{USERINFO_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		tm_level_id = #{TML_LEVEL},
		tm_is_set=#{TM_IS_SET}
		where 
		tm_id = #{TM_ID}
	</update>
	
	<!-- 修改信息 -->
	<update id="editInfo" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		tm_name = #{TM_NAME},
		tm_nickname = #{TM_NICKNAME},
		tm_mobile = #{TM_MOBILE},
		tm_id_card = #{TM_ID_CARD},
		tm_sfzzmz_file = #{TM_SFZZMZ_FILE},
		tm_sfzfmz_file=#{TM_SFZFMZ_FILE}
		where 
		tm_id = #{TM_ID}
	</update>
	
	<!-- 改变状态 -->
	<update id="status" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		tm_status = #{TM_STATUS}
		where 
		tm_id = #{TM_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Fields"></include>
		from 
		<include refid="tableName"></include>
		a left join TB_MEMBER_LEVEL b  on a.tm_level_id=b.tml_id 
		where 
			tm_id = #{TM_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
       select
		<include refid="Field1s"></include>
		from 
		<include refid="tableName"></include>
		a left join TB_MEMBER_LEVEL b  on a.tm_level_id=b.tml_id  
		LEFT JOIN tb_member_recommend d on a.tm_id=d.tmp_member_id
		
		where 1=1 
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					a.TM_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					a.TM_NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
			<!--	根据需求自己加检索条件	-->
				)
		</if>
		
			<if test="pd.caruser!= null and pd.caruser != ''"><!-- 关键词检索 -->
			and
				(
				
					a.TM_TYPE=#{pd.caruser}
					
			<!--	根据需求自己加检索条件	-->
				)
				
		</if>
		
		<if test="pd.keywords1!= null and pd.keywords1 != ''"><!-- 关键词检索 -->
			and
				(
				
					b.TML_LEVEL like CONCAT(CONCAT('%', #{pd.keywords1}),'%')
					
			<!--	根据需求自己加检索条件	-->
				)
		</if>
		
		<if test="pd.dateStart!=null and pd.dateStart!=''"><!-- 时间检索 -->
			and a.TM_ADD_DATE &gt;= #{pd.dateStart} 
		</if>
		<if test="pd.dateEnd!=null and pd.dateEnd!=''"><!-- 时间检索 -->
			and a.TM_ADD_DATE &lt;= #{pd.dateEnd} 
		</if>
		
		<if test="pd.TM_MOBILE != null and pd.TM_MOBILE != ''"><!-- 手机号码检索 -->
			and a.TM_MOBILE like CONCAT(CONCAT('%', #{pd.TM_MOBILE}),'%')
		</if>
		<if test="pd.TM_LEVEL_ID != null and pd.TM_LEVEL_ID != ''"><!-- 会员等级检索 -->
			and a.TM_LEVEL_ID = #{pd.TM_LEVEL_ID}
		</if>
		
		order by a.tm_add_date desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			USERINFO_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	
		<!--通过ID获取其子一级菜单 -->
	<select id="listCarUserByParentId" parameterType="String" resultType="Menu">
	
	SELECT tm_id as TM_ID,
	 tm_name as TM_NAME,
	 tm_yongjin as TM_YONGJIN,
	 tm_is_yongjin as TM_IS_YONGJIN,
	 tm_yaoqing as TM_YAOQING,
	 tm_nickname as TM_NICKNAME from tb_member
	  where tm_yaoqing = #{parentId} order by  TM_ID
	</select>
	
	<!--通过菜单ID获取数据 -->
	<select id="getCarUserById" parameterType="pd" resultType="pd">
	SELECT tm_id as TM_ID,
	 tm_name as TM_NAME,
	 tm_yongjin as TM_YONGJIN,
	 tm_is_yongjin as TM_IS_YONGJIN,
	 tm_yaoqing as TM_YAOQING,
	 tm_nickname as TM_NICKNAME from tb_member
		 where tm_id=#{TM_ID}
	</select>
	
		<select id="getcountById"  resultType="pd">
	        select  tm_id as TM_ID,
	               tm_name as TM_NAME,
	                 tm_yongjin as TM_YONGJIN from tb_member WHERE tm_yaoqing=#{0}
	    </select>
	
	
	<!-- 列表 -->
	<select id="datalistPage1" parameterType="page" resultType="pd">
       select
		<include refid="Fields"></include>
		from 
		<include refid="tableName"></include>
		a left join TB_MEMBER_LEVEL b  on a.tm_level_id=b.tml_id 
		
		where 1=1 
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					a.TM_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					a.TM_NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
			<!--	根据需求自己加检索条件	-->
				)
		</if>
		<if test="pd.TM_ID!= null and pd.TM_ID != ''">
		    and
				(
				
					a.tm_yaoqing=#{pd.TM_ID}
					
			<!--	根据需求自己加检索条件	-->
				)
				</if>
	</select>
	
	
	
	<insert id="savere" parameterType="pd">
		insert into 
          tb_member_recommend
		(
		TMP_MEMBER_ID,
	    TMP_SET_TOTAL_NUMBER,
         TMP_SET_DIRECT_NUMBER,
          TMP_SET_SMALL_NUMBER
  
		) values (
		#{TMP_MEMBER_ID},
		#{TML_TOTAL_NUMBER},
		#{TML_DIRECT_NUMBER},
		#{TML_SMALL_NUMBER}
		)
	</insert>
</mapper>