<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AgentLevelMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_MEMBER_LEVEL
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TML_ID,
		TML_LEVEL,	
		TML_TOTAL_NUMBER,	
		TML_DIRECT_NUMBER,	
		TML_SMALL_NUMBER,	
		TML_RANGE_PRIZE_SCALE,	
		TML_RANGE_PRIZE,	
		TML_ADD_DATE,	
		TML_EDIT_DATE,	
		TML_STATUS,	
		TML_OPT_NAME
	</sql>
	<sql id="Field1">
		TML_LEVEL,	
		TML_TOTAL_NUMBER,	
		TML_DIRECT_NUMBER,	
		TML_SMALL_NUMBER,	
		TML_RANGE_PRIZE_SCALE,	
		TML_RANGE_PRIZE,	
		TML_ADD_DATE,	
		TML_EDIT_DATE,	
		TML_STATUS,	
		TML_OPT_NAME,
		TML_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TML_LEVEL},	
		#{TML_TOTAL_NUMBER},	
		#{TML_DIRECT_NUMBER},	
		#{TML_SMALL_NUMBER},	
		#{TML_RANGE_PRIZE_SCALE},	
		#{TML_RANGE_PRIZE},	
		#{TML_ADD_DATE},	
		#{TML_EDIT_DATE},	
		#{TML_STATUS},	
		#{TML_OPT_NAME}
		<!-- #{TML_ID}-->
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TML_ID = #{TML_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TML_LEVEL = #{TML_LEVEL},
			TML_TOTAL_NUMBER = #{TML_TOTAL_NUMBER},
			TML_DIRECT_NUMBER = #{TML_DIRECT_NUMBER},
			TML_SMALL_NUMBER = #{TML_SMALL_NUMBER},
			TML_RANGE_PRIZE_SCALE = #{TML_RANGE_PRIZE_SCALE},
			TML_RANGE_PRIZE = #{TML_RANGE_PRIZE},
			TML_STATUS = #{TML_STATUS},
			TML_EDIT_DATE=#{TML_EDIT_DATE},
		TML_ID = TML_ID
		where 
		TML_ID = #{TML_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field1"></include>
		from 
		<include refid="tableName"></include>
		where 
			TML_ID = #{TML_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field1"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			TML_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<select id="listAllname" parameterType="pd" resultType="pd">
	SELECT 
	b.tml_id as TML_ID,
	b.tml_level as  TML_LEVEL,
	b.tml_total_number as TML_TOTAL_NUMBER ,
	b.tml_direct_number as TML_DIRECT_NUMBER ,
	b.tml_range_prize_scale as TML_RANGE_PRIZE_SCALE ,
	b.tml_range_prize as  TML_RANGE_PRIZE
	from  tb_member_level b
	
	
     </select>
     
</mapper>