<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProspdetailsMapper">
	
	<!--表名 -->
	<sql id="tableName">
		xx_product_specification_relation
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TPSR_ADD_DATE,	
		TPSR_MODIFY_DATE,	
		TPSR_RELATION_NAME,	
		TPSR_MARKET_PRICE,	
		TPSR_COST,	
		TPSR_PRICE,	
		TPSR_STOCK,	
		TPSR_IS_ENABLE,	
		TPSR_PRODUCTS_ID,	
		PROSPDETAILS_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TPSR_ADD_DATE},	
		#{TPSR_MODIFY_DATE},	
		#{TPSR_RELATION_NAME},	
		#{TPSR_MARKET_PRICE},	
		#{TPSR_COST},	
		#{TPSR_PRICE},	
		#{TPSR_STOCK},	
		#{TPSR_IS_ENABLE},	
		#{TPSR_PRODUCTS_ID},	
		#{PROSPDETAILS_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TPSR_ID = #{TPSR_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TPSR_MARKET_PRICE = #{TPSR_MARKET_PRICE},
			TPSR_COST = #{TPSR_COST},
			TPSR_PRICE = #{TPSR_PRICE},
			TPSR_STOCK = #{TPSR_STOCK},
			TPSR_IS_ENABLE = #{TPSR_IS_ENABLE},
		PROSPDETAILS_ID = PROSPDETAILS_ID
		where 
		PROSPDETAILS_ID = #{PROSPDETAILS_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">






	select

	TPSR_ID,
	TPSR_RELATION_ID,
	TPSR_RELATION_NAME,
	TPSR_MARKET_PRICE,
	TPSR_COST,
	TPSR_PRICE,
	TPSR_STOCK,
	TPSR_IS_ENABLE
	from 
		<include refid="tableName"></include>
		where 
			TPSR_ID = #{TPSR_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
	SELECT
	TPSR_ID,
	TPSR_ADD_DATE,
	TPSR_MODIFY_DATE,
	TPSR_RELATION_ID,
	TPSR_RELATION_NAME,
	TPSR_MARKET_PRICE,
	TPSR_COST,
	TPSR_PRICE,
	TPSR_STOCK,
	TPSR_IS_ENABLE,
	TP_NAME,
	TP_SN
	from xx_product_specification_relation , xx_product where
	tpsr_products_id=tp_id
	
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
				TP_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or 
				TP_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PROSPDETAILS_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>